In [3]:
import os
import json
import pandas as pd
import mysql.connector
import plotly.express as px
import requests

In [4]:
#aggregated_insurance_files

path1="/Users/velmurugan/Desktop/velu/python_works/phonepe_project/pulse/data/aggregated/insurance/country/india/state/"
agg_ins_states=os.listdir(path1)

#states=[state for state in cur_states if state!=".DS_Store"]

df_data1={"states":[],"years":[],"quarters":[],"transaction_type":[],"transaction_count":[],"transaction_amount":[]}

for state in agg_ins_states:
    acquired_state1=path1+state+"/"
    agg_ins_years=os.listdir(acquired_state1)

    for year in agg_ins_years:
        acquired_year1=acquired_state1+year+"/"
        agg_ins_files=os.listdir(acquired_year1)

        for file in agg_ins_files:
            acquired_file1=acquired_year1+file
            data1=open(acquired_file1,"r")
            file1=json.load(data1)
            
            for i in file1["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                df_data1["states"].append(state)
                df_data1["years"].append(year)
                df_data1["quarters"].append(int(file.strip(".json")))
                df_data1["transaction_type"].append(name)
                df_data1['transaction_count'].append(count)
                df_data1["transaction_amount"].append(amount)

aggregated_insurance = pd.DataFrame(df_data1)

aggregated_insurance['states']=aggregated_insurance["states"].replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_insurance['states']=aggregated_insurance["states"].str.replace("-"," ")
aggregated_insurance['states']=aggregated_insurance["states"].str.title()
aggregated_insurance['states']=aggregated_insurance["states"].replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [5]:
#aggregated transaction files

path2="/Users/velmurugan/Desktop/velu/python_works/phonepe_project/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_states=os.listdir(path2)

df_data2={"states":[],"years":[],"quarters":[],"transaction_type":[],"transaction_count":[],"transaction_amount":[]}

for state in agg_trans_states:
    acquired_state2=path2+state+"/"
    agg_trans_years=os.listdir(acquired_state2)

    for year in agg_trans_years:
        acquired_year2=acquired_state2+year+"/"
        agg_trans_files=os.listdir(acquired_year2)

        for file in agg_trans_files:
            acquired_file2=acquired_year2+file
            data2=open(acquired_file2,"r")
            file2=json.load(data2)

            for i in file2["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]['count']
                amount=i["paymentInstruments"][0]['amount']
                df_data2["states"].append(state)
                df_data2["years"].append(year)
                df_data2["quarters"].append(int(file.strip(".json")))
                df_data2["transaction_type"].append(name)
                df_data2['transaction_count'].append(count)
                df_data2["transaction_amount"].append(amount)

aggregated_transaction=pd.DataFrame(df_data2)

aggregated_transaction['states']=aggregated_transaction["states"].replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_transaction['states']=aggregated_transaction["states"].str.replace("-"," ")
aggregated_transaction['states']=aggregated_transaction["states"].str.title()
aggregated_transaction['states']=aggregated_transaction["states"].replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [6]:
#aggregated_user_files

path3="/Users/velmurugan/Desktop/velu/python_works/phonepe_project/pulse/data/aggregated/user/country/india/state/"
agg_user_states=os.listdir(path3)

df_data3={"states":[],"years":[],"quarters":[],"brands":[],"transaction_count":[],"percentage":[]}

for state in agg_user_states:
    acquired_state3=path3+state+"/"
    agg_user_years=os.listdir(acquired_state3)

    for year in agg_user_years:
        acquired_year3=acquired_state3+year+"/"
        agg_user_files=os.listdir(acquired_year3)

        for file in agg_user_files:
            acquired_file3=acquired_year3+file
            data3=open(acquired_file3,"r")
            file3=json.load(data3)

            try:
                for i in file3['data']["usersByDevice"]:
                    brand=i["brand"]
                    count=i['count']
                    percentage=i['percentage']
                    df_data3["states"].append(state)
                    df_data3["years"].append(year)
                    df_data3["quarters"].append(int(file.strip(".json")))
                    df_data3["brands"].append(brand)
                    df_data3['transaction_count'].append(count)
                    df_data3["percentage"].append(percentage)
            except:
                pass

aggregated_user=pd.DataFrame(df_data3)

aggregated_user['states']=aggregated_user["states"].replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_user['states']=aggregated_user["states"].str.replace("-"," ")
aggregated_user['states']=aggregated_user["states"].str.title()
aggregated_user['states']=aggregated_user["states"].replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [7]:
#map_insurance_files

path4="/Users/velmurugan/Desktop/velu/python_works/phonepe_project/pulse/data/map/insurance/hover/country/india/state/"
map_ins_states=os.listdir(path4)

df_data4={"states":[],"years":[],"quarters":[],"districts":[],"transaction_count":[],"transaction_amount":[]}

for state in map_ins_states:
    acquired_state4=path4+state+"/"
    map_ins_years=os.listdir(acquired_state4)

    for year in map_ins_years:
        acquired_year4=acquired_state4+year+"/"
        map_ins_files=os.listdir(acquired_year4)

        for file in map_ins_files:
            acquired_file4=acquired_year4+file
            data4=open(acquired_file4,"r")
            file4=json.load(data4)

            for i in file4['data']['hoverDataList']:
                district=i["name"]
                count=i["metric"][0]['count']
                amount=i["metric"][0]['amount']
                df_data4["states"].append(state)
                df_data4["years"].append(year)
                df_data4["quarters"].append(int(file.strip(".json")))
                df_data4["districts"].append(district)
                df_data4['transaction_count'].append(count)
                df_data4["transaction_amount"].append(amount)

map_insurance=pd.DataFrame(df_data4)

map_insurance['states']=map_insurance["states"].replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_insurance['states']=map_insurance["states"].str.replace("-"," ")
map_insurance['states']=map_insurance["states"].str.title()
map_insurance['states']=map_insurance["states"].replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [8]:
#user_transaction_files

path5="/Users/velmurugan/Desktop/velu/python_works/phonepe_project/pulse/data/map/transaction/hover/country/india/state/"
map_trans_states=os.listdir(path5)

df_data5={"states":[],"years":[],"quarters":[],"districts":[],"transaction_count":[],"transaction_amount":[]}

for state in map_trans_states:
    acquired_state5=path5+state+"/"
    map_trans_years=os.listdir(acquired_state5)

    for year in map_trans_years:
        acquired_year5=acquired_state5+year+"/"
        map_trans_files=os.listdir(acquired_year5)

        for file in map_trans_files:
            acquired_file5=acquired_year5+file
            data5=open(acquired_file5,"r")
            file5=json.load(data5)

            for i in file5["data"]["hoverDataList"]:
                district=i["name"]
                count=i["metric"][0]['count']
                amount=i["metric"][0]['amount']
                df_data5["states"].append(state)
                df_data5["years"].append(year)
                df_data5["quarters"].append(int(file.strip(".json")))
                df_data5["districts"].append(district)
                df_data5['transaction_count'].append(count)
                df_data5["transaction_amount"].append(amount)

map_transaction=pd.DataFrame(df_data5)

map_transaction['states']=map_transaction["states"].replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_transaction['states']=map_transaction["states"].str.replace("-"," ")
map_transaction['states']=map_transaction["states"].str.title()
map_transaction['states']=map_transaction["states"].replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [9]:
#map_user_files
path6="/Users/velmurugan/Desktop/velu/python_works/phonepe_project/pulse/data/map/user/hover/country/india/state/"
map_user_states=os.listdir(path6)

df_data6={"states":[],"years":[],"quarters":[],"districts":[],"registered_users":[],"app_opens":[]}

for state in map_user_states:
    acquired_state6=path6+state+"/"
    map_user_years=os.listdir(acquired_state6)

    for year in map_user_years:
        acquired_year6=acquired_state6+year+"/"
        map_user_files=os.listdir(acquired_year6)

        for file in map_user_files:
            acquired_file6=acquired_year6+file
            data6=open(acquired_file6,"r")
            file6=json.load(data6)

            for i in file6["data"]["hoverData"].items():
                district=i[0]
                users=i[1]["registeredUsers"]
                app_open=i[1]["appOpens"]
                df_data6["states"].append(state)
                df_data6["years"].append(year)
                df_data6["quarters"].append(int(file.strip(".json")))
                df_data6["districts"].append(district)
                df_data6['registered_users'].append(users)
                df_data6["app_opens"].append(app_open)

map_user=pd.DataFrame(df_data6)

map_user['states']=map_user["states"].replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user['states']=map_user["states"].str.replace("-"," ")
map_user['states']=map_user["states"].str.title()
map_user['states']=map_user["states"].replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [10]:
#top_insurance_files

path7="/Users/velmurugan/Desktop/velu/python_works/phonepe_project/pulse/data/top/insurance/country/india/state/"
top_ins_states=os.listdir(path7)

df_data7={"states":[],"years":[],"quarters":[],"pincodes":[],"transaction_count":[],"transaction_amount":[]}

for state in top_ins_states:
    acquired_state7=path7+state+"/"
    top_ins_years=os.listdir(acquired_state7)

    for year in top_ins_years:
        acquired_year7=acquired_state7+year+"/"
        top_ins_files=os.listdir(acquired_year7)

        for file in top_ins_files:
            acquired_file7=acquired_year7+file
            data7=open(acquired_file7,"r")
            file7=json.load(data7)

            for i in file7['data']['pincodes']:
                pincode=i["entityName"]
                count=i["metric"]['count']
                amount=i["metric"]['amount']
                df_data7["states"].append(state)
                df_data7["years"].append(year)
                df_data7["quarters"].append(int(file.strip(".json")))
                df_data7["pincodes"].append(pincode)
                df_data7['transaction_count'].append(count)
                df_data7["transaction_amount"].append(amount)

top_insurance=pd.DataFrame(df_data7)

top_insurance['states']=top_insurance["states"].replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_insurance['states']=top_insurance["states"].str.replace("-"," ")
top_insurance['states']=top_insurance["states"].str.title()
top_insurance['states']=top_insurance["states"].replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [11]:
#top_transaction_files
path8="/Users/velmurugan/Desktop/velu/python_works/phonepe_project/pulse/data/top/transaction/country/india/state/"
top_trans_states=os.listdir(path8)

df_data8={"states":[],"years":[],"quarters":[],"pincodes":[],"transaction_count":[],"transaction_amount":[]}

for state in top_trans_states:
    acquired_state8=path8+state+"/"
    top_trans_years=os.listdir(acquired_state8)

    for year in top_trans_years:
        acquired_year8=acquired_state8+year+"/"
        top_trans_files=os.listdir(acquired_year8)

        for file in top_trans_files:
            acquired_file8=acquired_year8+file
            data8=open(acquired_file8,"r")
            file8=json.load(data8)

            for i in file8['data']['pincodes']:
                pincode=i["entityName"]
                count=i["metric"]['count']
                amount=i["metric"]['amount']
                df_data8["states"].append(state)
                df_data8["years"].append(year)
                df_data8["quarters"].append(int(file.strip(".json")))
                df_data8["pincodes"].append(pincode)
                df_data8['transaction_count'].append(count)
                df_data8["transaction_amount"].append(amount)

top_transaction=pd.DataFrame(df_data8)

top_transaction['states']=top_transaction["states"].replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_transaction['states']=top_transaction["states"].str.replace("-"," ")
top_transaction['states']=top_transaction["states"].str.title()
top_transaction['states']=top_transaction["states"].replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [12]:
#top_user_files
path9="/Users/velmurugan/Desktop/velu/python_works/phonepe_project/pulse/data/top/user/country/india/state/"
top_user_states=os.listdir(path9)

df_data9={"states":[],"years":[],"quarters":[],"pincodes":[],"registeredUsers":[]}

for state in top_user_states:
    acquired_state9=path9+state+"/"
    top_user_years=os.listdir(acquired_state9)

    for year in top_user_years:
        acquired_year9=acquired_state9+year+"/"
        top_user_files=os.listdir(acquired_year9)

        for file in top_user_files:
            acquired_file9=acquired_year9+file
            data9=open(acquired_file9,"r")
            file9=json.load(data9)

            for i in file9['data']['pincodes']:
                pincode=i["name"]
                user=i["registeredUsers"]
                df_data9["states"].append(state)
                df_data9["years"].append(year)
                df_data9["quarters"].append(int(file.strip(".json")))
                df_data9["pincodes"].append(pincode)
                df_data9['registeredUsers'].append(user)

top_user=pd.DataFrame(df_data9)

top_user['states']=top_user["states"].replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user['states']=top_user["states"].str.replace("-"," ")
top_user['states']=top_user["states"].str.title()
top_user['states']=top_user["states"].replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [13]:
#connection_to_mysql

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Velcharru@1406",
    database="PhonepePulse",
    auth_plugin='mysql_native_password')

cursor=mydb.cursor()

In [14]:
#create_aggregate_insurance_table

drop_table_query= '''drop table if exists aggregated_insurance'''
cursor.execute(drop_table_query)
mydb.commit()

create_table_query = '''create table if not exists aggregated_insurance(states varchar(255),
                                                            years int,
                                                            quarters int,
                                                            transaction_type varchar(255),
                                                            transaction_count bigint,
                                                            transaction_amount float)'''
cursor.execute(create_table_query)
mydb.commit()

insert_query='''insert into aggregated_insurance(states,years,quarters,transaction_type,transaction_count,transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
values1=aggregated_insurance.values.tolist()

cursor.executemany(insert_query,values1)
mydb.commit()

In [15]:

#create_aggregated_transaction_table

drop_table_query= '''drop table if exists aggregated_transaction'''
cursor.execute(drop_table_query)
mydb.commit()

create_table_query = '''create table if not exists aggregated_transaction(states varchar(255),
                                                            years int,
                                                            quarters int,
                                                            transaction_type varchar(255),
                                                            transaction_count bigint,
                                                            transaction_amount float)'''
cursor.execute(create_table_query)
mydb.commit()

insert_query='''insert into aggregated_transaction(states,years,quarters,transaction_type,transaction_count,transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
values2=aggregated_transaction.values.tolist()

cursor.executemany(insert_query,values2)
mydb.commit()

In [16]:
#create_aggregated_user_table

drop_table_query= '''drop table if exists aggregated_user'''
cursor.execute(drop_table_query)
mydb.commit()

create_table_query = '''create table if not exists aggregated_user(states varchar(255),
                                                            years int,
                                                            quarters int,
                                                            brands varchar(255),
                                                            transaction_count bigint,
                                                            percentage float)'''
cursor.execute(create_table_query)
mydb.commit()

insert_query='''insert into aggregated_user(states,years,quarters,brands,transaction_count,percentage)
                                                        values(%s,%s,%s,%s,%s,%s)'''
values3=aggregated_user.values.tolist()

cursor.executemany(insert_query,values3)
mydb.commit()

In [17]:
#create_map_insurance_table

drop_table_query= '''drop table if exists map_insurance'''
cursor.execute(drop_table_query)
mydb.commit()

create_table_query = '''create table if not exists map_insurance(states varchar(255),
                                                            years int,
                                                            quarters int,
                                                            districts varchar(255),
                                                            transaction_count bigint,
                                                            transaction_amount float)'''
cursor.execute(create_table_query)
mydb.commit()

insert_query='''insert into map_insurance(states,years,quarters,districts,transaction_count,transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
values4=map_insurance.values.tolist()

cursor.executemany(insert_query,values4)
mydb.commit()

In [18]:
#create_map_transaction_table

drop_table_query= '''drop table if exists map_transaction'''
cursor.execute(drop_table_query)
mydb.commit()

create_table_query = '''create table if not exists map_transaction(states varchar(255),
                                                            years int,
                                                            quarters int,
                                                            districts varchar(255),
                                                            transaction_count bigint,
                                                            transaction_amount float)'''
cursor.execute(create_table_query)
mydb.commit()

insert_query='''insert into map_transaction(states,years,quarters,districts,transaction_count,transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
values5=map_transaction.values.tolist()

cursor.executemany(insert_query,values5)
mydb.commit()

In [19]:
#create_map_user_table

drop_table_query= '''drop table if exists map_user'''
cursor.execute(drop_table_query)
mydb.commit()

create_table_query = '''create table if not exists map_user(states varchar(255),
                                                            years int,
                                                            quarters int,
                                                            districts varchar(255),
                                                            registered_users bigint,
                                                            app_opens bigint)'''
cursor.execute(create_table_query)
mydb.commit()

insert_query='''insert into map_user(states,years,quarters,districts,registered_users,app_opens)
                                                        values(%s,%s,%s,%s,%s,%s)'''
values6=map_user.values.tolist()

cursor.executemany(insert_query,values6)
mydb.commit()

In [20]:
#create_top_insurance_table

drop_table_query= '''drop table if exists top_insurance'''
cursor.execute(drop_table_query)
mydb.commit()

create_table_query = '''create table if not exists top_insurance(states varchar(255),
                                                            years int,
                                                            quarters int,
                                                            pincodes bigint,
                                                            transaction_count bigint,
                                                            transaction_amount float)'''
cursor.execute(create_table_query)
mydb.commit()

insert_query='''insert into top_insurance(states,years,quarters,pincodes,transaction_count,transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
values7=top_insurance.values.tolist()

cursor.executemany(insert_query,values7)
mydb.commit()

In [21]:
#create_top_transaction_table

drop_table_query= '''drop table if exists top_transaction'''
cursor.execute(drop_table_query)
mydb.commit()

create_table_query = '''create table if not exists top_transaction(states varchar(255),
                                                            years int,
                                                            quarters int,
                                                            pincodes bigint,
                                                            transaction_count bigint,
                                                            transaction_amount float)'''
cursor.execute(create_table_query)
mydb.commit()

insert_query='''insert into top_transaction(states,years,quarters,pincodes,transaction_count,transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
values8=top_transaction.values.tolist()

cursor.executemany(insert_query,values8)
mydb.commit()

In [22]:
#create_top_user_table

drop_table_query= '''drop table if exists top_user'''
cursor.execute(drop_table_query)
mydb.commit()

create_table_query = '''create table if not exists top_user(states varchar(255),
                                                            years int,
                                                            quarters int,
                                                            pincodes bigint,
                                                            registeredUsers bigint)'''
cursor.execute(create_table_query)
mydb.commit()

insert_query='''insert into top_user(states,years,quarters,pincodes,registeredUsers)
                                                        values(%s,%s,%s,%s,%s)'''
values9=top_user.values.tolist()

cursor.executemany(insert_query,values9)
mydb.commit()